* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  color: white;
  padding-top: 10px;
  background-color: #4e709d;
  grid-column: 1/2;
  grid-row: 1/3;
  font-size: 1.5em;
}

.link-group {
  list-style: none;
  width: 100%;
  padding-left: 20%;
}

.link-group a {
  color: white;
}

.link-group a i {
  padding-right: 5%;
}

/* nav section */
.nav {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #89a4c7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 0 3%;
  color: white;
}

.nav-top {
  padding-top: 20px;
  grid-column: 1/2;
  display: flex;

  font-size: large;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.top-icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.small-icon {
  flex: 1;
  height: 2rem;
  border-radius: 50%;
}

#searchQueryInput {
  width: 65%;
  height: 1.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  margin-left: 10px;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.large-icon {
  max-height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.greeting {
  display: flex;
  flex: 1;
  gap: 10px;
  font-size: large;
}

.bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-buttons {
  flex: 1;
  display: flex;
  justify-content: end;
}

.nav-buttons button {
  margin-left: 3%;
  background-color: #f5b17b;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
}

/* main content */

.content {
  background-color: #cdd5e0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: max-content;
}

.my-projects {
  grid-column: 1/2;
  grid-row: 1/2;
}

.main-content {
  grid-column: 1/2;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-content {
  grid-column: 1/2;
  grid-row: 2/3;
}

.sub-content {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #f5b17b;
}

/* 
Tentative color pallet
    F5B17B orange
    4E709D dark blue
    89A4C7 light blue
    CDD5E0 grey
*/
